

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    padding: 0 25px;
    margin: 0 auto;
    width: 1200px;
}
a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
 
 /*------------- Header section Start---------- */
.header{
    width: 100%;
    height: 120px;
    background-color: #EAAE00;
}
.header .container{
    height: 100%;
    padding: 0 25px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu li a{
    padding: 10px 20px;
    display: inline-block;
    font-size: 30px;
    font-weight: 500px;
}
.menu{
    display: flex;
    align-items: center;
}
.input-field{
    height: 50px;
    width: 270px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;
}
.input-field::placeholder{
    font-size: 24px;
    font-weight: 400px;
    color: #FFFFFF;
}
.input-list{
    position: relative;
}
.iconbox{
    height: 50px;
    width: 70px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    font-size: 24px;
    color: #FFF;
}

/*-------------- Headr section End ------------- */
/* -------------banner section start-------------  */
.banner{
    background-color: #FFC400;
}
.banner .container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 124px;
}
.banner-container{
    padding-right: 30px;
    width: 60%;
}
.banner-container h1{
    font-size: 66px;
    line-height: 70px;
    margin-bottom: 56px;
    color: #FFFFFF;
}
.banner-container{
    font-size: 30px;
    color: #FFFFFF;
}
.banner-buttons{
    margin-top: 44px;
}
.banner-buttons a{
    padding: 24px 30px;
    border-radius: 8px;
    font-size: 20px;
}
.banner-buttons a:first-child{
    background-color: #00BFCB;
    border: 3px solid #00BFCB;
    margin-right: 34px;
}
.banner-buttons a:last-child{
    border: 3px solid #FFFFFF ;
}
.banner-image{
    width: 40%;
}
.banner-image img{
    width: 100%;
}


/*-------------- banner section end---------------- */

/* -----------------love of animal----------- */

.love-of-animal .container{
    padding: 144px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.love-of-animal .container .text-content{
    width: 50%;
}
.love-of-animal .container .text-content h2{
    font-size: 50px;
    color: #313243;
    line-height: 54px;
}
.love-of-animal .container .text-content p{
    font-size: 30px;
    color: #313243;
    padding-right: 30px;
    margin-top: 44px;
}
.love-of-animal .container .text-content a{
    padding: 24px 30px;
    background-color: #FFC400;
    display: inline-block;
    border-radius:10px;
    margin-top: 24px;
}
.love-of-animal .container .image-content{
    width: 50%;
    padding: 40px;
}
.love-of-animal .container .image-content img{
    width: 100%;
}
/* ----------------love of animal----------- */
/* ----------------------service section start------------ */
.service-section{
    background-color:#FFC400;
}
.service-section .container{
    padding-top: 102px;
    padding-bottom: 90px;
}
.service-heading{
    text-align: center;
}
.service-heading h2{
    font-size: 72px;
    color: #FFFFFF;

}
.service-heading p {
    font-size: 34px;
    color: #FFFFFF;
    padding: 0 220px;
}
.service-body{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.service-body .service-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.service-body .service-item h3{
    font-size: 38px;
    margin-top: 48px;
    margin-bottom: 20px;
    color:#FFFFFF;
}
.service-body .service-item p{
    text-align: center;
    font-size: 28px;
    color:#FFFFFF;
}
 /* ----------------------sarvice section end ------------------  */
  /* -----------------lover of animal------------  */
  .love-of-animal-two .container{
    padding: 144px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.love-of-animal-two .container .text-content{
    width: 50%;
    text-align: right;
}
.love-of-animal-two .container .text-content h2{
    font-size: 50px;
    color: #313243;
    line-height: 54px;
}
.love-of-animal-two .container .text-content p{
    font-size: 30px;
    color: #313243;
    padding-right: 30px;
    margin-top: 44px;
}
.love-of-animal-two .container .text-content a{
    padding: 24px 30px;
    background-color: #FFC400;
    display: inline-block;
    border-radius:10px;
    margin-top: 24px;
}
.love-of-animal-two .container .image-content{
    width: 50%;
    padding: 40px;
}
.love-of-animal-two .container .image-content img{
    width: 100%;
}
 /* -----------------lover of animal------------  */
  /* ------------------------Get offer-----------------------  */
 .get-offer{
    background-color:#FFC400;
}
.get-offer .container{
    padding-top: 102px;
    padding-bottom: 90px;
}
.service-heading{
    text-align: center;
}
.service-heading h2{
    font-size: 72px;
    color: #FFFFFF;

}
.service-heading p {
    font-size: 34px;
    color: #FFFFFF;
    padding: 0 220px;
}
.service-body{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.service-body .service-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.service-body .service-item h3{
    font-size: 38px;
    margin-top: 28px;
    margin-bottom: 18px;
    color:#FFFFFF;
}
.service-body a{
    padding: 14px 30px;
    border-radius: 2px;
    font-size: 20px;
    background-color: #00BFCB;
    border: 2px solid #FFFFFF ;
    border-radius: 20px;
}
 /* ------------------------Get offer-----------------------  */
  /* --------------------The Vetcare team-----------------------  */
.vetcare-team{
    background-color: #00BFCB;
}
.vetcare-team .container{
    padding-top: 102px;
    padding-bottom: 90px;
}
.service-heading{
    text-align: center;
}
.service-heading h2{
    font-size: 72px;
    color: #FFFFFF;

}
.service-heading p {
    font-size: 34px;
    color: #FFFFFF;
    padding: 0 220px;
}
.service-control{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.service-control .service-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.service-control .service-item h3{
    font-size: 38px;
    margin-top: 48px;
    margin-bottom: 20px;
    color:#FFFFFF;
}
.service-control .service-item p{
    text-align: center;
    font-size: 28px;
    color:#FFFFFF;
}
.font-icon{
    font-size: 30px;
    color:#EAAE00;
    gap: 20px; 
    padding: 10px;
}
   /* --------------------The Vetcare team end-----------------------  */
